*{
  font-family: Verdana, sans-serif;
  /* width: 100%; */
}

.home-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 80px;
  
}

/* SLIDESHOW */
.slideshow {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.5rem;
}

/* INTRO */
.intro {
  text-align: center;
  padding: 40px 20px;
}

.intro h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #b25e39;
}

.intro p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  color: #333;
}

/* FEATURES */
.features {
  background-color: #b25e39;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px 20px;
}

.feature {
  background-color: white;
  text-align: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
/*   width: 80%;
  height: 400px;
 */}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature img {
   width: 100%;
  height: 200px;  
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #b25e39;
}

.feature p {
  font-size: 1rem;
  color: #333;
}

.feature-button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feature-button:hover {
  background-color: #944c2e;
}

/* Media queries pour responsivité */
@media (max-width: 768px) {
  .overlay h1 {
    font-size: 2rem;
  }
  .overlay p {
    font-size: 1.2rem;
  }
  .intro h2 {
    font-size: 2rem;
  }
  .feature img {
    height: 150px;
  }
}