.register-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 160px;
  font-family: Verdana, sans-serif;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 10px;
}

.register-description {
  text-align: justify;
  font-size: 14px;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.register-form input,
.register-form select {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.register-form button {
  background-color: #c0392b;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.register-form button:hover {
  background-color: e26c5e;
}

.error {
  color: rgb(0, 0, 0);
  font-size: 13px;
  margin-top: 3px;
}

.success {
  color: #c0392b;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
